--background: 220 23.077% 94.902%; /* base */
--foreground: 233.793 16.022% 35.490%; /* text */

--muted: 222.857 15.909% 82.745%; /* surface0 */
--muted-foreground: 233.333 12.796% 41.373%; /* subtext1 */

--popover: 220 23.077% 94.902%; /* base */
--popover-foreground: 233.793 16.022% 35.490%; /* text */

--card: 220 23.077% 94.902%; /* base */
--card-foreground: 233.793 16.022% 35.490%; /* text */

--border: 225 13.559% 76.863%; /* surface1 */
--input: 225 13.559% 76.863%; /* surface1 */

--primary: 34.948 76.984% 49.412%; /* yellow */
--primary-foreground: 220 23.077% 94.902%; /* base */

--secondary: 222.857 15.909% 82.745%; /* surface0 */
--secondary-foreground: 233.793 16.022% 35.490%; /* text */

--accent: 222.857 15.909% 82.745%; /* surface0 */
--accent-foreground: 233.793 16.022% 35.490%; /* text */

--destructive: 347.077 86.667% 44.118%; /* red */
--destructive-foreground: 220 21.951% 91.961%; /* mantle */

--ring: 233.793 16.022% 35.490%; /* text */

--radius: 0.5rem;

--chart-1: 347.077 86.667% 44.118%; /* red */
--chart-2: 183.231 73.864% 34.510%; /* teal */
--chart-3: 219.907 91.489% 53.922%; /* blue */
--chart-4: 34.948 76.984% 49.412%; /* yellow */
--chart-5: 109.231 57.635% 39.804%; /* green */