--background: 229.091 18.644% 23.137%; /* base */
--foreground: 227.234 70.149% 86.863%; /* text */

--muted: 230 15.584% 30.196%; /* surface0 */
--muted-foreground: 226.667 43.689% 79.804%; /* subtext1 */

--popover: 229.091 18.644% 23.137%; /* base */
--popover-foreground: 227.234 70.149% 86.863%; /* text */

--card: 229.091 18.644% 23.137%; /* base */
--card-foreground: 227.234 70.149% 86.863%; /* text */

--border: 227.143 14.737% 37.255%; /* surface1 */
--input: 227.143 14.737% 37.255%; /* surface1 */

--primary: 357.778 65.854% 75.882%; /* maroon */
--primary-foreground: 229.091 18.644% 23.137%; /* base */

--secondary: 230 15.584% 30.196%; /* surface0 */
--secondary-foreground: 227.234 70.149% 86.863%; /* text */

--accent: 230 15.584% 30.196%; /* surface0 */
--accent-foreground: 227.234 70.149% 86.863%; /* text */

--destructive: 358.812 67.785% 70.784%; /* red */
--destructive-foreground: 230.526 18.812% 19.804%; /* mantle */

--ring: 227.234 70.149% 86.863%; /* text */

--radius: 0.5rem;

--chart-1: 358.812 67.785% 70.784%; /* red */
--chart-2: 171.549 39.227% 64.510%; /* teal */
--chart-3: 221.633 74.242% 74.118%; /* blue */
--chart-4: 39.529 62.044% 73.137%; /* yellow */
--chart-5: 95.833 43.902% 67.843%; /* green */