--background: 229 18.644067645072937% 23.137255012989044%; /* base */
--foreground: 227 70.14925479888916% 86.86274290084839%; /* text */

--muted: 230 15.584415197372437% 30.19607961177826%; /* surface0 */
--muted-foreground: 227 43.689319491386414% 79.8039197921753%; /* subtext1 */

--popover: 229 18.644067645072937% 23.137255012989044%; /* base */
--popover-foreground: 227 70.14925479888916% 86.86274290084839%; /* text */

--card: 229 18.644067645072937% 23.137255012989044%; /* base */
--card-foreground: 227 70.14925479888916% 86.86274290084839%; /* text */

--border: 227 14.73684161901474% 37.254902720451355%; /* surface1 */
--input: 227 14.73684161901474% 37.254902720451355%; /* surface1 */

--primary: 359 67.78523325920105% 70.78431248664856%; /* accent - Red */
--primary-foreground: 229 18.644067645072937% 23.137255012989044%; /* base */

--secondary: 230 15.584415197372437% 30.19607961177826%; /* surface0 */
--secondary-foreground: 227 70.14925479888916% 86.86274290084839%; /* text */

--accent: 230 15.584415197372437% 30.19607961177826%; /* surface0 */
--accent-foreground: 227 70.14925479888916% 86.86274290084839%; /* text */

--destructive: 359 67.78523325920105% 70.78431248664856%; /* red */
--destructive-foreground: 231 18.81188154220581% 19.80392187833786%; /* mantle */

--ring: 227 70.14925479888916% 86.86274290084839%; /* text */

--radius: 0.5rem;

--chart-1: 359 67.78523325920105% 70.78431248664856%; /* red */
--chart-2: 172 39.22652006149292% 64.50980305671692%; /* teal */
--chart-3: 222 74.24242496490479% 74.11764860153198%; /* blue */
--chart-4: 40 62.043797969818115% 73.13725352287292%; /* yellow */
--chart-5: 96 43.90243887901306% 67.84313917160034%; /* green */