--background: 232 0.23404255509376526% 0.18431372940540314%; /* base */
--foreground: 227 0.682539701461792% 0.8764705657958984%; /* text */

--muted: 230 0.18796992301940918% 0.2607843279838562%; /* surface0 */
--muted-foreground: 228 0.3921568691730499% 0.800000011920929%; /* subtext1 */

--popover: 232 0.23404255509376526% 0.18431372940540314%; /* base */
--popover-foreground: 227 0.682539701461792% 0.8764705657958984%; /* text */

--card: 232 0.23404255509376526% 0.18431372940540314%; /* base */
--card-foreground: 227 0.682539701461792% 0.8764705657958984%; /* text */

--border: 231 0.15606936812400818% 0.3392156958580017%; /* surface1 */
--input: 231 0.15606936812400818% 0.3392156958580017%; /* surface1 */

--primary: 355 0.7142857313156128% 0.7666666507720947%; /* accent - Maroon */
--primary-foreground: 232 0.23404255509376526% 0.18431372940540314%; /* base */

--secondary: 230 0.18796992301940918% 0.2607843279838562%; /* surface0 */
--secondary-foreground: 227 0.682539701461792% 0.8764705657958984%; /* text */

--accent: 230 0.18796992301940918% 0.2607843279838562%; /* surface0 */
--accent-foreground: 227 0.682539701461792% 0.8764705657958984%; /* text */

--destructive: 351 0.739130437374115% 0.729411780834198%; /* red */
--destructive-foreground: 233 0.23076923191547394% 0.15294118225574493%; /* mantle */

--ring: 227 0.682539701461792% 0.8764705657958984%; /* text */

--radius: 0.5rem;

--chart-1: 351 0.739130437374115% 0.729411780834198%; /* red */
--chart-2: 171 0.4683544337749481% 0.6901960968971252%; /* teal */
--chart-3: 220 0.828125% 0.7490196228027344%; /* blue */
--chart-4: 40 0.6991150379180908% 0.7784313559532166%; /* yellow */
--chart-5: 105 0.4825174808502197% 0.7196078300476074%; /* green */