--background: 231.818 23.404% 18.431%; /* base */
--foreground: 227.442 68.254% 87.647%; /* text */

--muted: 230.4 18.797% 26.078%; /* surface0 */
--muted-foreground: 228 39.216% 80.000%; /* subtext1 */

--popover: 231.818 23.404% 18.431%; /* base */
--popover-foreground: 227.442 68.254% 87.647%; /* text */

--card: 231.818 23.404% 18.431%; /* base */
--card-foreground: 227.442 68.254% 87.647%; /* text */

--border: 231.111 15.607% 33.922%; /* surface1 */
--input: 231.111 15.607% 33.922%; /* surface1 */

--primary: 188.78 59.420% 72.941%; /* sky */
--primary-foreground: 231.818 23.404% 18.431%; /* base */

--secondary: 230.4 18.797% 26.078%; /* surface0 */
--secondary-foreground: 227.442 68.254% 87.647%; /* text */

--accent: 230.4 18.797% 26.078%; /* surface0 */
--accent-foreground: 227.442 68.254% 87.647%; /* text */

--destructive: 351.176 73.913% 72.941%; /* red */
--destructive-foreground: 233.333 23.077% 15.294%; /* mantle */

--ring: 227.442 68.254% 87.647%; /* text */

--radius: 0.5rem;

--chart-1: 351.176 73.913% 72.941%; /* red */
--chart-2: 171.081 46.835% 69.020%; /* teal */
--chart-3: 220.189 82.813% 74.902%; /* blue */
--chart-4: 40.253 69.912% 77.843%; /* yellow */
--chart-5: 105.217 48.252% 71.961%; /* green */