--background: 240 21.052631735801697% 14.901961386203766%; /* base */
--foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

--muted: 237 16.239316761493683% 22.94117659330368%; /* surface0 */
--muted-foreground: 227 35.29411852359772% 80.0000011920929%; /* subtext1 */

--popover: 240 21.052631735801697% 14.901961386203766%; /* base */
--popover-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

--card: 240 21.052631735801697% 14.901961386203766%; /* base */
--card-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

--border: 234 13.20754736661911% 31.176471710205078%; /* surface1 */
--input: 234 13.20754736661911% 31.176471710205078%; /* surface1 */

--primary: 316 71.83098793029785% 86.07842922210693%; /* accent - Pink */
--primary-foreground: 240 21.052631735801697% 14.901961386203766%; /* base */

--secondary: 237 16.239316761493683% 22.94117659330368%; /* surface0 */
--secondary-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

--accent: 237 16.239316761493683% 22.94117659330368%; /* surface0 */
--accent-foreground: 226 63.93442749977112% 88.03921341896057%; /* text */

--destructive: 343 81.25% 74.90196228027344%; /* red */
--destructive-foreground: 240 21.311475336551666% 11.96078434586525%; /* mantle */

--ring: 226 63.93442749977112% 88.03921341896057%; /* text */

--radius: 0.5rem;

--chart-1: 343 81.25% 74.90196228027344%; /* red */
--chart-2: 170 57.35294222831726% 73.33333492279053%; /* teal */
--chart-3: 217 91.86992049217224% 75.88235139846802%; /* blue */
--chart-4: 41 86.04651093482971% 83.13725590705872%; /* yellow */
--chart-5: 115 54.09836173057556% 76.07843279838562%; /* green */