

--radius: 0.625rem;
--background: 240 21.05% 14.90%; /* base */
--foreground: 226 63.93% 88.04%; /* text */
--card: 240 21.05% 14.90%; /* base */
--card-foreground: 226 63.93% 88.04%; /* text */
--popover: 240 21.05% 14.90%; /* base */
--popover-foreground: 226 63.93% 88.04%; /* text */
--primary: 41 86.05% 83.14%; /* accent - Yellow */
--primary-foreground: 240 21.05% 14.90%; /* base */
--secondary: 237 16.24% 22.94%; /* surface0 */
--secondary-foreground: 226 63.93% 88.04%; /* text */
--muted: 237 16.24% 22.94%; /* surface0 */
--muted-foreground: 227 35.29% 80.00%; /* subtext1 */
--accent: 237 16.24% 22.94%; /* surface0 */
--accent-foreground: 226 63.93% 88.04%; /* text */
--destructive: 343 81.25% 74.90%; /* red */
--border: 234 13.21% 31.18%; /* surface1 */
--input: 234 13.21% 31.18%; /* surface1 */
--ring: 226 63.93% 88.04%; /* text */
--chart-1: 329 21.57% 37.25%; /* red */
--chart-2: 188 18.82% 37.25%; /* teal */
--chart-3: 221 27.45% 39.61%; /* blue */
--chart-4: 30 9.41% 42.35%; /* yellow */
--chart-5: 139 12.94% 38.04%; /* green */
--sidebar: 240 21.18% 14.12%; /* mantle */
--sidebar-foreground: 226 63.93% 88.04%; /* text */
--sidebar-primary: 41 86.05% 83.14%; /* accent - Yellow */
--sidebar-primary-foreground: 240 21.05% 14.90%; /* base */
--sidebar-accent: 240 21.05% 14.90%; /* surface0 */
--sidebar-accent-foreground: 226 63.93% 88.04%; /* text */
--sidebar-border: 234 13.21% 31.18%; /* surface1 */
--sidebar-ring: 234 13.21% 31.18%; /* surface1 */
